<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col mdl-cell--3-offset">
        <!-- Simple Textfield -->
        <form ng-submit="createNewEpmloyee()" ng-show="showCreateForm">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData.department">
                <label class="mdl-textfield__label">Department</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData.position">
                <label class="mdl-textfield__label">Position</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData.lastname">
                <label class="mdl-textfield__label">Lastname</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData.name">
                <label class="mdl-textfield__label">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData.surname">
                <label class="mdl-textfield__label">Surname</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData['phone number']">
                <label class="mdl-textfield__label">Phone number</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData.email">
                <label class="mdl-textfield__label">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="formData.office">
                <label class="mdl-textfield__label">Office</label>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Create New Employee
            </button>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--1-col ">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" ng-click="add()">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

<section class="ram-section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" ng-model="query">
            <label class="mdl-textfield__label">Search</label>
        </div>
    </div>
    <!--<div class="mdl-cell mdl-cell--12-col">
        <div ng-repeat="employee in employees | filter:query">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">person</i>
                    <span>{{employee.lastname}} {{employee.name}} {{employee.name}}</span>
                    <span class="mdl-list__item-text-body">{{employee.position}} {{employee.department}} {{employee['phone number']}} {{employee.email}} {{employee.office}}</span>
                    </span>
                    <a class="mdl-list__item-secondary-action" href="#" ng-click="employee.showEdit = !employee.showEdit"><i class="material-icons">edit</i></a>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <form ng-submit="" ng-show="employee.showEdit" ng-init="employee.showEdit = false">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData.department" value="{{employee.department}}">
                            <label class="mdl-textfield__label">{{employee.department}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData.position" value="{{employee.position}}">
                            <label class="mdl-textfield__label">{{employee.position}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData.lastname" value="{{employee.lastname}}">
                            <label class="mdl-textfield__label">{{employee.lastname}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData.name" value="{{employee.name}}">
                            <label class="mdl-textfield__label">{{employee.name}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData.surname" value="{{employee.surname}}">
                            <label class="mdl-textfield__label">{{employee.surname}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData['phone number']" value="{{employee['phone number']}}">
                            <label class="mdl-textfield__label">{{employee['phone number']}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData.email" value="{{employee.email}}">
                            <label class="mdl-textfield__label">{{employee.email}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" ng-model="formData.office" value="{{employee.office}}">
                            <label class="mdl-textfield__label">{{employee.office}}</label>
                        </div>
                    </form>
                </div>
            </div>-->
    <ul class="ram-list mdl-list">
        <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="employee in employees | filter:query">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span>{{employee.lastname}} {{employee.name}} {{employee.name}}</span>
                <span class="mdl-list__item-text-body">
                    <ul>
                        <li>{{employee.position}}</li>
                        <li>{{employee.department}}</li>
                        <li>{{employee['phone number']}}</li>
                        <li>{{employee.email}}</li>
                        <li>{{employee.office}}</li>
                    </ul>
                </span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <a class="mdl-list__item-secondary-action" href="#" ng-click="employee.showEdit = !employee.showEdit"><i class="material-icons">edit</i></a>
            </span>


            <div>
                <form ng-submit="" ng-show="employee.showEdit" ng-init="employee.showEdit = false">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData.department">
                        <label class="mdl-textfield__label">{{employee.department}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData.position">
                        <label class="mdl-textfield__label">{{employee.position}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData.lastname">
                        <label class="mdl-textfield__label">{{employee.lastname}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData.name">
                        <label class="mdl-textfield__label">{{employee.name}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData.surname">
                        <label class="mdl-textfield__label">{{employee.surname}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData['phone number']">
                        <label class="mdl-textfield__label">{{employee['phone number']}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData.email">
                        <label class="mdl-textfield__label">{{employee.email}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" ng-model="formData.office">
                        <label class="mdl-textfield__label">{{employee.office}}</label>
                    </div>
                </form>
            </div>



        </li>
    </ul>
    </div>
</section>