<div class="container">
	<div class="row">
		<h4>Контакти</h4>
		<ul>
			<li class="valign-wrapper"><i class="material-icons contact-icon">business</i> вул. Хрещатик, м. Київ, Україна </li>
			<li class="valign-wrapper"><i class="material-icons contact-icon">phone</i>(+38 044) 444-00-01, 444-00-02</li>
			<li class="valign-wrapper"><i class="material-icons contact-icon">print</i> (+38 044) 444-00-04</li>
			<li class="valign-wrapper"><i class="material-icons contact-icon">language</i> <a href="http://www.agoge.ga" target="_blank">www.agoge.ga</a></li>
			<li class="valign-wrapper"><i class="material-icons contact-icon">email</i> <a href="mailto:info@agoge.ga">info@agoge.ga</a></li>
		</ul>
	</div>
</div>
<div id="contacts-map"></div>