<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col mdl-cell--3-offset">
        <!-- Simple Textfield -->
        <form ng-submit="createNewEpmloyee()" ng-show="showCreateForm">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData.department">
                <label class="mdl-textfield__label" for="sample3">Department</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData.position">
                <label class="mdl-textfield__label" for="sample3">Position</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData.lastname">
                <label class="mdl-textfield__label" for="sample3">Lastname</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData.name">
                <label class="mdl-textfield__label" for="sample3">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData.surname">
                <label class="mdl-textfield__label" for="sample3">Surname</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData['phone number']">
                <label class="mdl-textfield__label" for="sample3">Phone number</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData.email">
                <label class="mdl-textfield__label" for="sample3">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model="formData.office">
                <label class="mdl-textfield__label" for="sample3">Office</label>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Create New Employee
            </button>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--1-col ">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" ng-click="add()">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

<section class="ram-section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample3" ng-model="query">
            <label class="mdl-textfield__label" for="sample3">Search</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <ul class="demo-list-three mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="employee in employees | filter:query">
                <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>{{employee.lastname}} {{employee.name}} {{employee.surname}}</span>
                <span class="mdl-list__item-text-body">{{employee.position}} {{employee.department}} {{employee['phone number']}} {{employee.email}} {{employee.office}}</span>
                </span>
            </li>
        </ul>
    </div>
</section>