<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ПАТ «Укртранснафта»</title>
    <base href="/">
    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../assets/libs/material.min.css" type="text/css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body ng-app="app">

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header header-color--white">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title ram-layout-title">
                     ПАТ «Укртранснафта»
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation ram-navigation">
                    <a class="mdl-navigation__link is-active mdl-button mdl-js-button mdl-js-ripple-effect mdl-typography--text-uppercase" href="/">Головна</a>
                    <a class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect mdl-typography--text-uppercase" href="/employees">Довідник</a>
                    <a class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect mdl-typography--text-uppercase" href="/news">Новини</a>
                    <a class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect mdl-typography--text-uppercase" href="/contacts">Контакти</a>
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content ram-layout__content">
            <!--<div class="page-content">-->
            <div ng-view></div>
            <!--</div>-->
        </main>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="../../assets/libs/angular.min.js"></script>
    <script src="../../assets/libs/angular-route.min.js"></script>
    <script src="../../assets/libs/material.min.js"></script>
    <script src="../../app/app.js"></script>
    <script src="../../app/app.routes.js"></script>
</body>
</html>