
html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
        
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      
.employee-attr-icon {
    margin-right: 10px; 
}

.employee-fixed-action-btn {
    position: relative !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 1 !important;
}

.news-fixed-action-btn {
    position: relative !important;
    top: 15px !important;
    right: 15px !important;
    bottom: 0 !important;
    z-index: 1 !important;
}

.ng-hide-add {
    animation: 0.5s zoomOut ease;
}
.ng-hide-remove {
    animation: 0.5s zoomIn ease; 
}

.contact-icon {
    margin-right: 10px;
}

#contacts-map {
    height: 400px;
    width: 100%;
}
/*.header-color--white {
    background-color: white;
}

.ram-layout-title {
    font-weight: 700;
    font-size: 20px;
    color: #17864c;
}

.ram-navigation .mdl-navigation__link.is-active, 
.ram-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #17864c;
    height: 60px;
}

.ram-navigation .mdl-navigation__link {
    font-weight: 700;
    font-size: 14px;
    color: #17864c;
    line-height: 65px;
}

.ram-navigation .mdl-button {
    height: 64px;
    line-height: 65px;
}

.ram-layout__content {
    padding: 50px 0;
}

.ram-section--center {
    max-width: 860px;
    min-height: 100%;
}

.ram-list {
    width: 100%;
}*/